
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.product-layout{
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.menu{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color:blue;
  margin: 2%;
}
.head1{
  margin-right:10px;
color:blue;
}
.head2{
  float: right;
  color:blue;
  margin-right:10px;
  }
  .item{
    display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  color:black;
  margin: 2%;
  }